{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil</title>

    
    <!-- Latest compiled and minified CSS & JS -->
    <!-- <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
     -->
    <!-- Font Icon -->

    <link rel="stylesheet" href="{% static 'profil/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'profil/vendor/nouislider/nouislider.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'profil/css/style.css' %}">

    <!-- beautiful -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    <!-- Main css -->
    <link rel="icon" type="image/png" href="{% static 'profil/css/style.css' %}"/>


    <!-- navbar -->
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="https://www.fnordware.com/superpng/pnggrad8rgb.png" style="width:100%;height: 100%" alt="">
                    <div class="signup-img-content">
                        <h2>
                                Votre paris ici
                         </h2>
                        <p>Votre info apparaisent ici!</p>
                    </div>
                </div>
                <div class="signup-form">
                    <form method="GET" class="register-form" id="register-form" action="{% url 'parier' %}">{% csrf_token %}
                    
                        <div class="donate-us">
                          <img src="{% static 'images/fortune.jpg' %}" alt="">

                            <label>Montant Miser</label>
                            <div class="price_slider ui-slider ui-slider-horizontal">
                                <div id="slider-margin"></div>
                                <span class="donate-value" id="value-lower"></span>
                                <input type="hidden" name="montantparier" value="200">
                            </div>
                        </div>
                        {{user.fist_name}}
                        <div class="form-row">
                                <div class="form-group">
                                    <div class="form-input">
                                        <!-- <label for="first_name" class="required">Vore nom</label> -->
                                        <input type="hidden" name="first_name" id="first_name" value="{{user.fist_name}}"/>
                                    </div>
                                    <div class="form-input">
                                        <!-- <label for="last_name" class="required">Votre prénom</label> -->
                                        <input type="hidden" name="last_name" id="last_name" value="{{user.last_name}}"/>
                                    </div>
                                    <div class="form-input">
                                        <label for="phone_number" class="required">numéro de téléphone pour confirmer le pari</label>
                                        <input type="number" name="numero" id="phone_number" value="{{user.username}}x" />
                                    </div>
                                </div>
                              
                                
                            </div>
                        <div class="form-submit">
                            <input type="submit" value="Parier" class="submit" id="submit" name="submit" />
                            <!-- <input type="submit" value="Reset" class="submit" id="reset" name="reset" /> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'profil/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'profil/vendor/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'profil/vendor/wnumb/wNumb.js' %}"></script>
    <script src="{% static 'profil/vendor/jquery-validation/dist/jquery.validate.min.js' %} "></script>
    <script src="{% static 'profil/vendor/jquery-validation/dist/additional-methods.min.js' %} "></script>
    <script src="{% static 'profil/js/main.js' %} "></script>
</body>
</html>